.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

.btn {
    font-family: "Latso", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
}

input {
    border-style: solid;
    border-color: rgb(117, 171, 233);
    border-radius: 10px;
    margin-bottom: 15px;
}

.btn-primary:hover {
    background-color: rgb(3, 65, 136);
    border-color: rgb(3, 65, 136);
}

/*Hero Section*/
.hero-frame {
    height: 70vh;
    margin: 0 auto; 
    overflow: hidden; /*Impede que a imagem vaze do quadro*/
}
.hero-img {
    width: 100%;
    height: 100%;
    /*Aplica propriedade cover para que a imagem preencha o quadro*/
    object-fit: cover;
    object-position: center; /*Centraliza o recorte da imagem*/
}

@media (max-width: 576px) {
    .hero-frame {
        height: 50vh;
    }
}
